@import url(./style.css);

.tools-section {
  flex: 1;
  background-color: #f1f5f9;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imagem-container {
  position: relative;
  z-index: 1;
}

.tools__enfeite {
  position: absolute;
  z-index: -1;
}

.enfeite1 {
  right: -70px;
  bottom: 20%;
  width: clamp(100px, 20vw, 240px);
}
.enfeite2 {
  bottom: 50%;
  z-index: -100;
  right: -250px;
  width: clamp(200px, 35vw, 444px);
}

.enfeite3 {
  bottom: 70%;
  z-index: -100;
  right: -120px;
  width: clamp(100px, 20vw, 300px);
}

.enfeite4 {
  left: -50px;
  max-width: 40%;
  bottom: 70px;
}

.enfeite5 {
  left: -100px;
  max-width: 40%;
  bottom: 130px;
  max-height: 500px;
  max-width: auto;
}

.tools-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 80px;
  align-items: center;
  text-align: center;
  z-index: 10;
}

.tools-container h2 {
  font-size: clamp(32px, 5vw, 56px);
  margin-bottom: 32px;
  z-index: 2;
}

.tools__sublinhado {
  position: relative;
}

.tools__sublinhado::after {
  content: "";
  background-image: url("../assets/sublinhado-texto.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0%;
  bottom: -30%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.tools-container p {
  font-size: clamp(16px, 2vw, 20px);
  line-height: 180%;
  font-weight: 400;
  margin-bottom: clamp(40px, 5vw, 80px);
  z-index: 10;
}

.tools__imagem-container {
  max-width: 1100px;
  width: 100%;
}

.tools-imagem {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 1000px;
}

.linhas-container {
  position: relative;
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linhas {
  width: 100%;
  height: 100%;
  position: absolute;
}

.tools__apps-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: clamp(30px, 5vw, 80px);
  max-width: 1100px;
  width: 100%;
  object-fit: contain;
}

.tools__apps-container img {
  max-width: 64px;
  min-width: 20px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

@media screen and (max-width: 950px) {
  .tools-container {
    padding: 1rem;
    margin-top: 35px;
  }

  .tools-container p br {
    display: none;
  }

  .tools__apps-container {
    display: none;
  }

  .enfeite4 {
    bottom: 40px;
  }
  .enfeite5 {
    max-height: 300px;
    left: -50px;
    bottom: 50px;
  }

  .enfeite1 {
    right: -40px;
  }

  .enfeite2 {
    right: -100px;
  }

  .enfeite3 {
    right: -50px;
  }
}
